<div class="card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post-form" class="card">

    <label class="form-label">Title:</label>
    <input class="form-input" name="post-title" type="text" value="{{post.title}}" />

    <label class="form-label">Content:</label>
    <textarea  class="form-textarea form-input" name="post-content">{{post.postContent}}</textarea>

    <button class="btn" type="submit">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>
<script src="/public/javascript/edit.js"></script>